global-exclude *.c
global-exclude .tox/*
include LICENSE
include README.md
include betaincder/c/betaincder.pyx
include betaincder/c/betaincder.pxd
include betaincder/c/betaincder.h
include betaincder/c/betaincder.c
include betaincder/c/digamma.c
include betaincder/c/beta.c
